
#jobfield-container{
    padding: 1em;
    background-color: #fff;
    width: 90%;
    margin: auto;
    cursor: pointer;
    display: flex;
    margin-bottom: 2rem;
   
    justify-content: space-between;
}
#jobfield-container:hover{
    
    border-radius: 10px;
    border-left: 5px solid rgb(110, 167, 214);
}
.jobfield-content{
    display: flex;
}
.jobfield-details{
    font-weight: 700;
    margin-left: 1rem;
    display: flex;
    text-align: center;
    
}
.jobfield-details-position{
    margin-top: 1rem;
}

 .jobfield-details-title-subtitle{
    margin-left: 15px;
}
.jobfield-details-location{
    display: flex;
    margin-top:1rem;
    color: grey;
}

.jobfield-side ul{
    display: flex;
 
}
.jobfield-side li{
    margin-top: 1.5rem;
    background-color:rgb(248, 248, 248);
    padding: .5em;
    border-radius: 4px;
    color:rgb(110, 167, 214); 
    font-weight: 900;
    list-style: none;
    margin-right: 1.5rem;
   
}
.jobfield-details-title-subtitle .p1{
    padding: 0.2em 1em;
    background-color: rgb(110, 167, 214);
    color: white;
    border-radius: 20px;

}
.jobfield-details-title-subtitle .p2{
    background-color: black;
    padding: 0.2em 1em;
    color: white;
    border-radius: 20px;

}
.jobfield-details-title{
    text-align: center;
    font-size: 1.2rem;
}
.jobfield-side li:hover{
    background-color:rgb(37, 36, 36); 
    color: white;
} 
@media only screen and (max-width: 420px){
    #jobfield-container{
        display: flex;
        flex-direction: column;


    }
    

.jobfield-details{
    margin-left: 0;
    margin-top: 1rem;
}
    .jobfield-content{
        display: flex;
        flex-direction: column;
        
    }
    
    .jobfield-details-location{
        border-bottom: 1px solid;
       
    }
    .jobfield-details-location p{
        padding-bottom:15px;
    }
    .jobfield-side li{
        margin-top:.5rem;
        
    }
    
}