#jobfield-container{
    padding: 1em;
    background-color: #fff;
    width: 90%;
    margin: auto;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
#jobfield-container:hover{
    border-left: 5px solid rgb(110, 167, 214);
    border-radius: 10px;

}
.jobfield-details{
    font-weight: 700;
    margin-left: 1rem;
    
}
.jobfield-header{
    display: flex;
   
}
.jobfield-details-title{
    display: flex;
    margin-bottom:1rem ;
}
.jobfield-details-title-subtitle{
    margin-left: 15px;
}
.jobfield-details-location{
    display: flex;
    margin-top:1rem;
    color: grey;
}
.jobfield-details-location-subtitle{
    margin-left: 15px;
}

.jobfield-side li{
    margin-top: 1.5rem;
    background-color:rgb(248, 248, 248);
    padding: .5em;
    border-radius: 4px;
    color:rgb(110, 167, 214); 
    font-weight: 900;
    list-style: none;
}
.jobfield-side li:hover{
    background-color:rgb(37, 36, 36); 
    color: white;
}