html{
    font-size:12px;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#listing-container{
    width: 80%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(232, 245, 255);
}
.header{
    background-color:rgb(181, 217, 247);
}
.listing-header img{
    width: 100%;
    height: auto;
}
.listing-search-container{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-radius: 20px;
    background-color: white;
    width: 90%;
    position: relative;
    top: -30px;
    margin: auto;
  
}
.listing-search-input{
    display: flex;
    width: 25%;
    border-radius:10px;
   
}

.listing-search-input input{
    padding: .5em;
    color: rgb(110, 167, 214);
    background-color:rgb(232, 245, 255); 
    border:1px solid;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    width: 250px;
}
.listing-search-input input:focus{
    outline: none;
}
.listing-search-input button{
    background-color:rgb(110, 167, 214); 
    color: white;
    padding: .5em;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    display: flex;
    
}
.listing-search-input button:hover{
    background-color:rgb(37, 36, 36); 
    color: white;
}   
input:focus{
    outline: none;
}

.listing-search-button button{
    color:rgb(110, 167, 214); 
    border: none;
    padding: .5em;
    font-size: 1.2em;
    height: 30px;
    font-weight: bolder;
    background: none;
    cursor: pointer;
}
.listing-search-button button:hover{
    border-bottom: 1px solid;
}
@media only screen and (max-width: 920px){
    #listing-container{
        width:100%;     
        }
       
       
       
        .listing-search-container{
            display: none;

        };
        
        .listing-search-input input{
            font-size: 1em;
            width: 120px;
        }
    

}